<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
	<filter>
		<filter-name>NoCache</filter-name>
		<filter-class>org.itemscript.server.NoCacheFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>NoCache</filter-name>
		<url-pattern>/*.json</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>ReflectJson</servlet-name>
		<servlet-class>org.itemscript.examples.gwt.server.ReflectJsonServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<url-pattern>/ReflectJson</url-pattern>
		<servlet-name>ReflectJson</servlet-name>
	</servlet-mapping>
</web-app>